body {
    background-color: #2d2d2d;
}

#timedate {
    font: small-caps lighter 30vmin "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    color: #fff;
}