html {
}

body {
    background-color: rgba(45, 45, 45, 0);
    margin: 0;
    height: 100vh;
}

#datetime {
    font: small-caps lighter 30vh "Segoe UI";
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
}

#date {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

#time {
    width: min-content;
    margin-right: auto;
}
